IMPORTING LIBRARIES

In [181]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

LOADING THE DATA

In [182]:
df = pd.read_csv("Employee_Data.csv", encoding="ISO-8859-1")
print(df.head())

   id     name   age  gender   salary           city
0   1     John  28.0    Male  50000.0       New York
1   2    Sarah  35.0  Female  60000.0  San Francisco
2   3    David   NaN    Male  55000.0    Los Angeles
3   4    Linda  30.0  Female      NaN        Chicago
4   5  Michael  40.0    Male  75000.0            NaN

In [183]:
numeric_features = ["age", "salary"]  
categorical_features = ["gender", "city"]

ETL AUTOMATION

EXTRACT

In [184]:
def extract_data(file_path):
     """Extract data from a CSV file."""
    df = pd.read_csv(file_path, encoding="ISO-8859-1")# Read the CSV file
    print("Original Data:")
    print(df.head())
    return df

TRANSFORMATION

In [185]:
# Function to transform the data (handling missing values, scaling, and encoding)
def transform_data(df):
    
    """Transform data: handle missing values, scale, and encode."""
    numeric_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
    categorical_features = df.select_dtypes(include=['object']).columns.tolist()
    
    # Pipeline for numeric data: Impute missing values and scale the data
    numeric_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ])
    
    # Pipeline for categorical data: Impute missing values and encode categorical variable
    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('encoder', OneHotEncoder(handle_unknown='ignore'))
    ])
    
    # Apply transformations using ColumnTransformer
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numeric_transformer, numeric_features),
            ('cat', categorical_transformer, categorical_features)
        ]
    )
    # Transform the dataset
    processed_data = preprocessor.fit_transform(df)
    processed_df = pd.DataFrame(processed_data)
    print("Transformed Data:")
    print(processed_df.head())
    return processed_df

In [186]:
processed_df.to_csv("processed_data.csv", index=False)

LOAD

In [187]:
# Function to load transformed data into a new CSV file
def load_data(processed_df, output_file):
    """Load: Save transformed data to a new CSV file."""
    processed_df.to_csv(output_file, index=False)# Save the transformed data into a new CSV file
    print(f"Data successfully saved to {output_file}")

In [188]:
# Complete ETL pipeline function
def etl_pipeline(input_file, output_file):
    df = extract_data(input_file)# Step 1: Extract data
    processed_df = transform_data(df)# Step 2: Transform data
    load_data(processed_df, output_file) # Step 3: Load data into a new file

In [189]:
# Example usage of the ETL pipeline
if __name__ == "__main__":
    input_csv = "Employee_Data.csv" #Path to input CSV file (Update with actual file path)  
    output_csv = "Processed_Employee_Data.csv" # Path to output CSV file
    etl_pipeline(input_csv, output_csv)# Execute the ETL pipeline

Original Data:
   id     name   age  gender   salary           city
0   1     John  28.0    Male  50000.0       New York
1   2    Sarah  35.0  Female  60000.0  San Francisco
2   3    David   NaN    Male  55000.0    Los Angeles
3   4    Linda  30.0  Female      NaN        Chicago
4   5  Michael  40.0    Male  75000.0            NaN
Transformed Data:
    0         1         2    3    4    5    6    7    8    9    10   11   12  \
0 -1.5 -0.690882 -0.832551  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1 -1.0  0.847900  0.381586  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
2 -0.5 -0.251230 -0.225483  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  0.0 -0.251230 -0.225483  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0
4  0.5  1.947030  2.202791  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0

    13   14   15   16   17
0  0.0  0.0  1.0  0.0  0.0
1  0.0  0.0  0.0  1.0  0.0
2  0.0  1.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0
Data successfully saved to Processed_Employee_Data.csv